Repository microsoft/ignite-learning-paths-training-mod, pull requests merged in 2020-01, with the labels that each got.

#27 Update deployment.md
  mod10/deployment.md
Labels: MOD10, documentation

#28 Update deployment.md
  mod10/deployment.md
Labels: MOD10, documentation

#26 Update 04-prep-finish.md - Preparing the Advanced Data Security
  mod20/04-prep-finish.md
Labels: MOD20, documentation, pending validation

#37 Clarifying changes
  mod10/deployment.md
Labels: MOD10, documentation

#35 Add cloning step to Demo section
  README.md
Labels: MOD10, documentation

#36 Add reference to clone step in main README
  mod10/deployment.md
Labels: MOD10, documentation, enhancement

#40 Fix API URLs in appsettings
  mod10/deploy.sh
Labels: MOD10, documentation, pending validation
